@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,800&display=swap');

@mixin nunito400 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin nunito400i {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin nunito600 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
}

@mixin nunito600i {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
}

@mixin nunito700 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin nunito700i {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
}

@mixin nunito800 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-style: normal;
}

@mixin nunito800i {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
}

@mixin nunito900 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-style: normal;
}

@mixin nunito900i {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-style: italic;
}