.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1300px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
}

.footer {
    margin-top: auto;
}