.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    padding: 0px 15px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.footer {
    margin-top: auto;
}

.global__heading {
    @include nunito600;
    color: #021647;
    font-size: 38px;
    line-height: 121%; /* 45.98px */
    letter-spacing: -0.38px;
}

/* Utilitare Classes */
.bg-white {
    background-color: #FFF !important;
}
.bg-blue {
    background-color: #F2F5FE !important;
}
.pt-60 {
    padding-top: 60px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-45 {
    padding-top: 45px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pb-55 {
    padding-bottom: 55px;
}
/* // Utilitare Classes */

@media (max-width: 750px) {
    .global__heading {
        font-size: 29px;
    }
    .pt-60 {
        padding-top: 50px;
    }
    .pt-50 {
        padding-top: 35px;
    }
    .pt-50 {
        padding-top: 30px;
    }
    .pb-60 {
        padding-bottom: 50px;
    }
    .pb-55 {
        padding-bottom: 45px;
    }
}