.acsList {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 50px;
    &__inner {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        h2,
        h3,
        p {
            max-width: 909px;
            width: 100%;
        }
    }
}
.acsList__obligations {
    padding-bottom: 60px;

    ul {
        margin-bottom: 12px;
        list-style: none;
    }

    ul li {
        color: #021647;
        font-size: 18px;
        @include nunito600;
        line-height: 140.4%; /* 25.272px */
        b {
            @include nunito800;
        }
        margin-left: 10px;
        padding-left: 20px;
        position: relative; 
    }

    ul li::before {
        content: "\2022"; 
        position: absolute;
        left: 0; 
    }
}
.acsList__red {
    color: #C22921 !important;
}
.acsList__header {
    max-width: 689px;
    margin: 0 auto;
    margin-bottom: 27px;
    h2 {
        color: var(--text, #021647);
        text-align: center;
        font-size: 38px;
        @include nunito800;
        line-height: 121%; /* 45.98px */
        letter-spacing: -0.38px;
    }
    p {
        max-width: 541px;
        text-align: center;
        margin: 13px auto 0;
        color: #021647;
        font-size: 18px;
        @include nunito600;
    }
    b {
        @include nunito800;
    }
}
.acsList__mob {
    display: none;
}
.acsList__content {
    max-width: 1109px;
    width: 100%;
    margin: 0 auto;
}
.acsList__h2 {
    position: relative;
    max-width: 964px;
    color: var(--c-22921, #C22921);
    font-size: 22px;
    @include nunito800;
    line-height: 123.4%; /* 27.148px */
    padding-bottom: 18px;
    margin-bottom: 16px;
    scroll-margin-top: 60px;
}

.acsList__p {
    max-width: 854px;
    color: var(--text, #021647);
    font-size: 18px;
    @include nunito400;
    line-height: 140.4%; /* 25.272px */
    margin-bottom: 12px;
    b {
        @include nunito800;
    }
    a {
        color:#C22921;
        text-decoration: underline;
    }
}
.acsList__a__grey {
    color: #021647 !important;
}
// .acsList__p + .acsList__p {
//     margin-top: 19px;
// }
.acsList__h2::before  {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #D3DCF3;
    bottom: 0; 
    color: #D3DCF3;
}
.acsList__img__box {
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
}
.acsList__img {
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    max-width: 1109px;
    width: 100% !important;
    height: unset !important;
    aspect-ratio: 1 / 0.343;
    object-fit: cover;
}
@media (max-width: 750px) {
    .acsList__header {
        h2 {
            font-size: 33px;
        }
    }
}
@media (max-width: 600px) {
    .acsList__img {
        height: 212px !important;
        aspect-ratio: unset;
    }
    .acsList__mob {
        display: block;
        h2 {
           text-align: left !important; 
        }
        P {
            text-align: left !important; 
        }
        
    }
    .acsList__desc {
        display: none;
    }
    .acsList__obligations {
        padding-bottom: 0;
    }
}
@media (max-width: 450px) {
    .acsList__header {
        h2 {
            font-size: 29px;
        }
    }
    .acsList {
        padding-bottom: 58px;
    
        p {
            font-size: 17px;
        }
    }
    .acsList__h2 {
        font-size: 20px;
    }
}