.boiter-text {
    padding: 50px 0px 60px;
}
.boiter-text__inner {
    max-width: 1123px;
    margin: 0 auto;
    h2 {
        max-width: 892px;
        color: #021647;
        font-size: 36px;
        @include nunito800;
        line-height: 121%; /* 43.56px */
        letter-spacing: -0.36px;
        margin-bottom: 20px;
    }
    p {
        color: #021647;
        font-size: 18px;
        @include nunito600;
        line-height: 140%; /* 43.56px */
    }
    b {
        @include nunito800;
    }
    a {
        color: #C22921;
        text-decoration: underline;
    }
    ul {
        margin: 5px 0;
    }
    ul li {
        color: #021647;
        font-size: 18px;
        @include nunito600;
        line-height: 140%; /* 43.56px */
        list-style-type: none; 
        a {
            color: #C22921;
            text-decoration: underline;
        }
    }
    li::before {
        content: '\2022'; 
        color: #021647; 
        display: inline-block;
        width: 1em; 
        margin-left: 0.5em; 
    }
    p + p {
        margin-top: 7px;
    }
}
@media (max-width:700px) {
    .boiter-text__inner {
        h2 {
            font-size: 33px;
            margin-bottom: 15px;
        }
    }
}
@media (max-width:450px) {
    .boiter-text {
        padding: 35px 0px 38px;
    }
    .boiter-text__inner {
        h2 {
            line-height: 113%; /* 32.77px */
            letter-spacing: -0.29px;
            font-size: 29px;
            margin-bottom: 12px;
        }
        p {
            font-size: 17px;
        }
    }
}