.defCabinet {
    padding: 50px 0 40px;
}
.defCabinet__inner {
    max-width: 992px;
    margin: 0 auto;

    h2 {
        color: #021647;
        text-align: center;
        line-height: 121%; /* 45.98px */
        letter-spacing: -0.36px;
        font-size: 36px;
        @include nunito800; 
        margin-bottom: 26px;
    }
}
.defCabinet__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.defCabinet__img {
    max-width: 366px;
    width: 100% !important;
    height: unset !important;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
.defCabinet__img__entreprise {
    margin-right: 51px;
    max-width: 499px;
    width: 100% !important;
    height: unset !important;
    object-fit: cover;
    aspect-ratio: 1 / 0.717;
    border-radius: 10px;
    border: 1px solid var(--e-4-ebfd, #E4EBFD);
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
}
.defCabinet__img__maintenance__2 {
    margin-right: 51px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    max-width: 528px;
    width: 100% !important;
    height: unset !important;
    object-fit: cover;
    aspect-ratio: 1 / 0.714;
}
.defCabinet__img__maintenance__1 {
    margin-right: 51px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    max-width: 627px;
    width: 100% !important;
    height: unset !important;
    object-fit: cover;
    aspect-ratio: 1 / 0.669;
}
.defCabinet__text {
    max-width: 470px;
    margin-left: 20px;
    min-width: 322px;
    p {
        color: #021647;
        font-size: 18px;
        @include nunito600;
        line-height: 140.4%; /* 25.272px */
    }
    p + p {
        margin-top: 18px;
    }
}
.defCabinet__mobile {
    display: none;
}
@media (max-width: 1000px) {
    .defCabinet__img__maintenance__1,
    .defCabinet__img__maintenance__2,
    .defCabinet__img__entreprise{
        max-width: 380px;
        margin-right: 0;

    }
}
@media (max-width: 750px) {
    .defCabinet__img,
    .defCabinet__img__maintenance__1,
    .defCabinet__img__maintenance__2,
    .defCabinet__img__entreprise{
        max-width: 333px;
        width: 100%;
        height: unset !important;
        aspect-ratio: 1 / 0.6666;
        object-fit: cover;
    }
    .defCabinet__inner {    
        h2 {
            font-size: 34px;
        }
    }

}
@media (max-width: 700px) {
    .defCabinet__row {
        flex-direction: column;
    }
    .defCabinet__img {
        width: 261px;
        height: 261px;
    }
    .defCabinet__desc {
        display: none;
    }
    .defCabinet__mobile {
        display: block;
    }
    .defCabinet__img__maintenance__1,
    .defCabinet__img__maintenance__2,
    .defCabinet__img__entreprise {
        max-width: unset;
        height: 261px !important;
    }
    .defCabinet__text {
        margin-top: 20px;
        text-align: center;
        max-width: unset;
        margin-left: 0;
        min-width: unset;
    }
}
@media (max-width: 450px) {
    .defCabinet {
        padding: 40px 0 ;
    }
    .defCabinet__inner {    
        h2 {
            font-size: 29px;
        }
        p {
            font-size: 17px;
        }
    }
}
