.heartsine {
    background: var(--blue-bg, #F5F8FE);
}
.heartsine__inner {
    padding: 50px 0 60px;
    max-width: 1110px;
    margin: 0 auto;
    h2 {
        max-width: 892px;
        color: #021647;
        font-size: 36px;
        @include nunito800;
        line-height: 121%; /* 43.56px */
        letter-spacing: -0.36px;
        margin-bottom: 20px;
    }
    p {
        color: #021647;
        font-size: 18px;
        @include nunito600;
        line-height: 140.4%; /* 25.272px */
    }
    b {
        @include nunito800;
    }
    p + p {
        margin-top: 18px;
    }
}
@media (max-width: 750px){
    .heartsine__inner {
        h2 {
            font-size: 32px;
            margin-bottom: 15px;
        }
    }
    .heartsine__inner {
        padding: 40px 0 45px;
    }
}
@media (max-width: 450px){
    .heartsine__inner {
        h2 {
            font-size: 29px;
            margin-bottom: 12px;
        }
        p {
            font-size: 17px;
        }
    }
    .heartsine__inner {
        padding: 33px 0 29px;
    }
}