.install {
    padding-bottom: 65px;
}
.install__inner {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
}
.install__item {
    flex-grow: 1;
    max-width: 358px;
    border-radius: 10px;
    border: 1px solid var(--c-22921, #C22921);
    background: #FFF7F7;
    padding: 24px 10px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2,
    h3 {
        max-width: 321px;
        color: #C22921;
        font-size: 19px;
        @include nunito800;
        line-height: 133.9%; /* 25.441px */
        text-transform: uppercase;
        margin: 19px 0 12px;
    }
    p {
        max-width: 304px;
        color: #021647;
        font-size: 17px;
        @include nunito600;
    }
    b {
        @include nunito800; 
    }
}
.install__item + .install__item {
    margin-left: 16px;
}
@media (max-width: 800px) {
    .install__inner {
        flex-direction: column;
    }
    .install__item {
        max-width: unset;
        padding: 24px 5px 22px;
        h2 {
            max-width: unset;
        }
        p {
            max-width: unset;
        }
    }
    .install__item + .install__item {
        margin-left: 0;
        margin-top: 16px;
    }
}
@media (max-width: 500px) {
    .install {
        padding-bottom: 50px;
    }
}