.mastHead__inner {
    position: relative;
    padding: 35px 0 53px;
    max-width: 766px;
    margin: 0 auto;
    img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 14px;

        max-width: 250px;
        width: 100% !important;
        height: unset !important;
        object-fit: cover;
    }

    p {
        color: #021647;
        font-size: 18px;
        @include nunito600;
        text-align: center;
    }
}
@media (max-width: 450px) {
    .mastHead__inner {
        padding: 16px 0 24px;
        img {
            display: none;
        }
    }
}