.regarding {
    padding: 50px 0 65px;
}
.regarding__inner {
    max-width: 1110px;
    margin: 0 auto;

    h2 {
        text-align: center;
        max-width: 712px;
        margin: 0 auto 27px;
        color: #021647;
        line-height: 121%; /* 43.56px */
        letter-spacing: -0.36px;
        font-size: 36px;
        @include nunito800;
    }
    h3 {
        color: #C22921;
        line-height: 133.9%; /* 26.78px */
        text-transform: uppercase;
        font-size: 20px;
        @include nunito800;
        margin-bottom: 13px;
    }
    p {
        color: #021647;
        font-size: 18px;
        @include nunito600;
    }
    b {
        @include nunito800;
    }
    a {
        color: #C22921;
        text-decoration: underline;
    }
    p + p {
        margin-top: 12px;
    }
    ul {
        margin-top: 12px;
    }
    ul li {
        color: #021647;
        font-size: 18px;
        @include nunito600;
        b {
            @include nunito800;
        }
        margin-left: 10px;
        padding-left: 20px;
        position: relative; 
    }

    ul li::before {
        content: "\2022"; 
        position: absolute;
        left: 0; 
    }
}
.regarding__row {
    display: flex;
}
.regarding__item {
    flex-grow: 1;
    max-width: 544px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--c-22921, #C22921);
    background: #FFF7F7;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.regarding__row + .regarding__row  {
    margin-top: 18px;
}
.regarding__item + .regarding__item {
    margin-left: 18px;
}
@media (max-width: 750px) {
    .regarding__inner {
        h2 {
            font-size: 33px;
        }
    }
}
@media (max-width: 700px) {
    .regarding__inner {
        h2 {
            font-size: 33px;
        }
    }
    .regarding__row {
        flex-direction: column;
    }
    .regarding__item + .regarding__item {
        margin-left: 0;
        margin-top: 18px;
    }
}
@media (max-width: 450px) {
    .regarding {
        padding: 33px 0 50px;
    }
    .regarding__inner {
        h2 {
            font-size: 29px;
        }
        h3 {
            font-size: 19px;
            line-height: 133.9%; /* 25.441px */
        }
        p ul li {
            font-size: 17px;
        }
    }
    .regarding__item {
        padding: 23px 18px;
    }
    .regarding__item + .regarding__item {
        margin-top: 16px;
    }
    .regarding__row + .regarding__row  {
        margin-top: 16px;
    }
}