.whatAED {
    padding: 55px 0 35px;
    margin-bottom: 50px;
}
.whatAED__sub {
    padding: 55px 0;
}
.whatAED__inner {
    max-width: 1110px;
    margin: 0 auto;
}
.whatAED__header {
    max-width: 748px;
    margin: 0 auto 30px;
    h2 {
        text-align: center;
        color: var(--text, #021647);
        line-height: 121%; /* 45.98px */
        letter-spacing: -0.38px;
        font-size: 38px;
        @include nunito800; 
        margin-bottom: 17px; 
    }
    p {
        text-align: center;
        color: var(--text, #021647);
        font-size: 20px;
        @include nunito700;  
    }
    a {
        color: #C22921;
        text-decoration: underline;
    }
}
.whatAED__content__header__achat {
    max-width: 535px;
    color: var(--text, #021647);
    line-height: 121%; /* 45.98px */
    letter-spacing: -0.38px;
    font-size: 33px;
    @include nunito800; 
    margin-bottom: 15px; 
}
.whatAED__content {
    max-width: 1110px;
    margin: 0 auto;
    ul {
        margin: 5px 0;
    }
    ul li {
        color: var(--text, #021647);
        font-size: 18px;
        @include nunito600; 
        list-style-type: none; 
        a {
            color: #C22921;
            text-decoration: underline;
        }
    }
    li::before {
        content: '\2022'; 
        color: #021647; 
        display: inline-block;
        width: 1em; 
        margin-left: 0.5em; 
    }
}

.whatAED__item {
    display: flex;
}
.whatAED__item__sub {
    align-items: center;
}
.whatAED__item + .whatAED__item {
    margin-top: 35px;
}
.whatAED__content__p + .whatAED__content__p {
    margin-top: 17px;
}
.whatAED__img__green {
    width: 100%;
    max-width: 351px;
    margin-right: 52px;
    border-radius: 10px;
    background: #007861;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    padding: 23px 12px 28px 6px;
    height: 100%;
    min-width: 351px;

    img {
        max-width: 351px;
        width: 100% !important;
        height: unset !important;
        aspect-ratio: 1 / 0.669;
        object-fit: cover;
    }
}
.whatAED__img__subventions {
    margin-right: 52px;
    max-width: 756px;
    width: 100% !important;
    height: unset !important;
    aspect-ratio: 1 / 0.569;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    // min-width: 351px;
}
.whatAED__img {
    margin-right: 52px;
    max-width: 351px;
    width: 100% !important;
    // height: unset !important;
    aspect-ratio: 1 / 0.578;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
}
.whatAED__img__achat {
    margin-right: 52px;
    max-width: 524px;
    width: 100% !important;
    // height: unset !important;
    aspect-ratio: 1 / 1.022;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
}
.whatAED__content__header {
        position: relative;
        color: var(--text, #021647);
        line-height: 123.4%; /* 28.382px */
        font-size: 23px;
        @include nunito800; 
        margin-bottom: 16px; 
        padding-bottom: 18px;
}
.whatAED__content__header::before  {
    content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #D3DCF3;
        bottom: 0; 
        color: #D3DCF3;
}
.whatAED__content__p {
        color: var(--text, #021647);
        font-size: 18px;
        @include nunito600;  
    b {        
        @include nunito800; 
    }
    a {
        color: var(--c-22921, #C22921);
        text-decoration: underline;
    }
}
.whatAED__content__row {
    margin-top: 16px;
    position: relative;
    p {
        margin-left: 31px;
    }
    svg {
        position: absolute;
    }
}
.whatAED__mobile {
    display: none;
}
@media (max-width: 900px) {
    .whatAED__img {
        max-width: 340px;
    }
    .whatAED__img__achat {
        max-width: 340px;
    }
    .whatAED__img__green {
        img {
            max-width: 340px;
        }
    }
    .whatAED__img__subventions {
            max-width: 340px;
    }
}
@media (max-width: 800px) {
    .whatAED__item {
        flex-direction: column;
    }
    .whatAED__img {
        max-width: unset;
        aspect-ratio: unset;
        height: 288px !important;
        margin-right: 0;
    }
    .whatAED__img__achat {
        max-width: unset;
        aspect-ratio: unset;
        height: 288px !important;
        margin-right: 0;
    }
    .whatAED__content__header__achat {
        margin-top: 25px;
    }
    .whatAED__content {
        ul li {
            font-size: 17px;
        }
    }
    .whatAED__img__green {
        max-width: unset;
        margin-right: 0;
        img {
            max-width: unset;
            aspect-ratio: unset;
            height: 288px !important;
        }
    }
    .whatAED__content__p {
        font-size: 17px;
    }
    .whatAED__item__p {
        margin-top: 20px;
        text-align: center;
    }
    .whatAED__img__subventions {
        margin-right: 0;
        max-width: unset;
        max-width: unset;
        aspect-ratio: unset;
        height: 288px !important;
    }
    .whatAED__content__header {
        margin-top: 16px;
    }
    .whatAED__item + .whatAED__item {
        margin-top: 40px;
    }
    .whatAED {
        padding: 40px 0 30px;
    }
    .whatAED__sub {
        padding: 25px 0 55px;
    }
    .whatAED {
        padding: 55px 0 100px;
    }
    .whatAED__sub {
        padding: 35px 0;
    }
    .whatAED__header {
        margin-bottom: 16px;
        h2 {
            letter-spacing: -0.29px;
            font-size: 34px;
            margin-bottom: 0px; 
        }
        p {
            display: none;
        }
    }
    .whatAED__desc {
        display: none;
    }
    .whatAED__mobile {
        display: block;
    }
}
@media (max-width: 800px) {
    .whatAED__header {
        h2 {
            font-size: 28px;
        }
    }
    .whatAED__content__header__achat {
        font-size: 28px;
    }
}